<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468896055887-igmfakt29vh3rqj090e6iqvgbu63mt0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468896055887-igmfakt29vh3rqj090e6iqvgbu63mt0h</string>
	<key>API_KEY</key>
	<string>AIzaSyCACxTP1dObe-BeIPV4jJ7aaL4sPi2uwrw</string>
	<key>GCM_SENDER_ID</key>
	<string>468896055887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-8258f</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-8258f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468896055887:ios:dce56723169a3a08df203a</string>
</dict>
</plist>